# .yamllint
---
extends: default

ignore: |
  .venv/
  .github/workflows/yamllint.yml
  .tools/.yamllint

rules:
  line-length:
    max: 120        # Zachowujemy czytelność w edytorze
    level: warning  # Nie traktujemy tego jako błąd krytyczny

  indentation:
    spaces: 2       # Typowy standard YAML – 2 spacje
    indent-sequences: consistent

  trailing-spaces: enable
  truthy:
    allowed-values: ['true', 'false']
  comments:
    min-spaces-from-content: 2
  empty-lines:
    max: 1
  key-duplicates: disable
